[workspace]
members = [".", "inmem", "request"]
default-members = [".", "inmem", "request"]

[workspace.package]
version = "0.12.0-alpha.1"
authors = ["Dr Maxim Orlovsky <orlovsky@ubideco.org>"]
repository = "https://github.com/AluVM/sonare"
homepage = "https://ubideco.org/SONARE"
keywords = ["state-machines", "distributed-systems", "decentralized", "partially-replicated", "runtime-environment"]
readme = "README.md"
license = "Apache-2.0"
edition = "2021"
rust-version = "1.77.0" # Due to `rustfix`

[workspace.dependencies]
amplify = "~4.8.0"
strict_encoding = "~2.8.1"
strict_types = "~2.8.1"
aluvm = "0.12.0-beta.2"
ultrasonic = "0.12.0-beta.1"
serde = { version = "1", features = ["derive"] }

[package]
name = "sonare"
version.workspace = true
authors.workspace = true
description = "Runtime environment for formally-verifiable distributed software"
repository.workspace = true
homepage.workspace = true
keywords.workspace = true
categories = ["algorithms", "cryptography", "science", "no-std", "no-std::no-alloc"]
readme.workspace = true
license.workspace = true
edition.workspace = true
rust-version.workspace = true
exclude = [".github"]

[lib]
name = "sonare"

[[example]]
name = "dao"

[dependencies]
amplify.workspace = true
baid64 = "0.4.0"
strict_encoding.workspace = true
strict_types.workspace = true
commit_verify = "0.12.0-alpha.3"
aluvm.workspace = true
ultrasonic.workspace = true
serde = { workspace = true, optional = true }

[features]
default = []
all = ["stl", "serde"]

stl = ["commit_verify/stl", "ultrasonic/stl", "strict_types/armor"]
serde = [
    "dep:serde",
    "amplify/serde",
    "strict_encoding/serde",
    "commit_verify/serde",
    "ultrasonic/serde"
]

[target.'cfg(target_arch = "wasm32")'.dependencies]
wasm-bindgen = "0.2"
rand = { version = "0.8.4", optional = true }
getrandom = { version = "0.2", features = ["js"] }

[target.'cfg(target_arch = "wasm32")'.dev-dependencies]
wasm-bindgen-test = "0.3"

[package.metadata.docs.rs]
features = ["all"]

[patch.crates-io]
commit_verify = { git = "https://github.com/LNP-BP/client_side_validation", branch = "v0.12" }
ultrasonic = { git = "https://github.com/AluVM/ultrasonic" }
